<!DOCTYPE html>
<html>
<head>
    <title>Tree Structure</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <h1>Tree Structure</h1>
    <div id="controls">
        <form id="add-node-form">
            <input type="text" id="parent-name" placeholder="Parent Name" required>
            <input type="text" id="node-name" placeholder="Node Name" required>
            <button type="submit">Add Node</button>
        </form>
        <div>
            <input type="text" id="node-name1" placeholder="Node Name 1" required>
            <input type="text" id="node-name2" placeholder="Node Name 2" required>
            <button id="compare-nodes-btn">Compare Nodes</button>
        </div>
        <div>
            <input type="text" id="node-name-move" placeholder="Node Name to Move" required>
            <input type="text" id="new-parent-name" placeholder="New Parent Name" required>
            <button id="move-node-btn">Move Node</button>
        </div>
        <div>
            <input type="text" id="node-name-delete" placeholder="Node Name to Delete" required>
            <button id="delete-node-btn">Delete Node</button>
        </div>
        <div>
            <form id="load-tree-form" enctype="multipart/form-data" style="display: inline-block;">
                <input type="file" id="tree-file" required>
                <button type="submit">Load Tree</button>
            </form>
            <button id="save-tree-btn" style="display: inline-block;">Save Tree</button>
        </div>
        <div>
            <button id="toggle-all-btn">Toggle All Nodes</button>
            <button id="expand-all-btn">Expand All Nodes</button>
        </div>
    </div>
    <button id="create-root-btn" style="display:none;">Create Root Node</button>
    <div id="tree-container"></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
